* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #afafaf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(../midias/imgs/894815-Dragon-Ball-Z-Dragon-Ball-DRAGON-BALL-Z-KAKAROT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
}

.container{
    background-color: rgba(83, 33, 15, 0.61);
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    position: fixed;
}

.form-container{
    height: 520px;
    width: 500px;
    background-color: #181a21;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-bottom: 20px;
}

.email, .senha, .nick, .foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px 0px;
}

input{
    height: 30px;
    width: 450px;
    background-color: #32353c;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
    border: 1px white solid;
}

button{
    height: 50px;
    width: 200px;
    background: linear-gradient(to right, #FF4500, rgb(175, 59, 5));
    border: none;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(to right, #f36f3e, rgb(231, 112, 57));
}

.links{
    margin-top: 50px;
}

a{
    margin: 0px 10px;
}

button, form, a{
    font-size: 20px;
}

.form-cadastro .email, .form-cadastro .senha, .form-cadastro .nick, .form-cadastro .foto-perfil{
    margin: 15px 0px;
}

.form-cadastro h1{
    margin-bottom: 0px;
}

.form-cadastro .links{
    margin-top: 20px;
}

.form-cadastro input{
    margin-top: 10px;
}

.foto-perfil{
    height: 70px;
    width: 450px;
    background-color: #32353c;
    text-align: center;
    overflow: auto;
}

.foto-perfil:hover{
    border: 1px white solid;
}

input[type="file"]{
    opacity: 0;
    position: absolute;
}

#foto-label{
    margin-left: 150px;
}

.ocultar-senha{
    position: absolute;
    height: 25px;
    padding-right: 18px;
    padding-left: 5px;
    background-color: #32353c;
    margin-left: 400px;
    margin-top: 12px;
    cursor: pointer;
}

.ocultar-senha img{
    height: 25px;
}

.ocultar-senha-login{
    margin-top: 1px;
}

span{
    font-size: 12px;
    color: red;
    display: none;
    margin-top: 2px;
}

.foto-span-required{
    margin-top: -13px;
    margin-bottom: 5px;
    margin-left: 120px;
}

.nome-arquivo{
    display: none;
    font-size: 10px;
    margin-bottom: 2px;
    padding-bottom: 1px;
    border-bottom: 1px #afafaf solid;
}

.aviso, .bom{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px white solid;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
}

.error, .certo{
    height: 50px;
    width: 100vw;
    color: white;
    background-color: #e63636;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    animation: errorAnimation 1s ease-in-out;
    cursor: pointer;
}

.certo{
    background-color: #4cd137;
}

.certo a{
    color: white;
}

@keyframes errorAnimation{
    from{margin-top: -100px;}
    to{margin-top: 0px;}
}

.error-reverse{
    animation: errorAnimationReverse 1s ease-in-out;
}

@keyframes errorAnimationReverse{
    from{margin-top: 0px;}
    to{margin-top: -100px;}
}

@media  (max-width: 400px) {
    .form-container{
        height: 100vh;
        width: 100vw;
    }

    a{
        margin: 0;
        font-size: 15px;
    }
}