* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(98,35,11);
    text-decoration: none;
}

body{
    background-image: url(../midias/backgroundTela/background-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
}

.container{
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;    
}

.versao{
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.config button{
    width: 50px;
    height: 50px;
}

.config img{
    width: 40px;
    height: 30px;
    padding: 1px;
}

.config{
    position: absolute;
    top: 5%;
    right: 5%;
}

@font-face{
    font-family: 'Blank River';
    src: url(../fonte/Blank\ River.ttf);
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Blank River';
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 10%;
    pointer-events: none;
}

.logo .db{
    background: -webkit-linear-gradient(rgba(12,0,0,255),rgba(33,3,5,255),rgba(75,12,7,255),rgba(106,17,11,255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo .ap{
    position: absolute;
    top: 45%;
    background: -webkit-linear-gradient(rgba(33,6,2,255),rgba(78,11,12,255),rgba(185,28,33,255),rgba(186,30,34,255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}

.logo img{
    position: absolute;
    height: 150px;
    top: 25%;
    left: 57%;
    filter: grayscale(45%);
    z-index: 4;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 25px;   
}

.buttons button{
    width: 300px;
    height: 50px;
}

button {
    background-color: rgb(238,106,13);
    border: 5px  rgb(167, 72, 4) solid;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(180, 78, 4);
}

button img{
    width: 40px;
    margin-right: 10px;
}

.logout{
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
}

.logout p{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    word-wrap: break-word
}

.logout button{
    width: 50px;
    height: 50px;
}

.logout img{
    width: 30px;
    height: 40px;
    padding: 2px;
}

.direitos{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    right: 5%;
}

.direitos button{
    width: 50px;
    height: 50px;
}

@font-face{
    font-family: 'Comic Sans';
    src: url(../fonte/ComicSansMS3.ttf);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pop-up{
    position: absolute;
    width: 320px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans';
    font-size: 20px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px gray;
    opacity: 0.4;
    animation: pulse 1.5s infinite ease-in-out;
    cursor: pointer;
}

.intrucoes-up{
    top: 65%;
    left: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intrucoes-up img{
    margin-right: 20px;
    height: 30px;
}

.shop-up{
    top: 77%;
    left: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-up img{
    position: absolute;
    height: 65px;
    width: 65px;
    left: -10%;
    bottom: 0%;
}

.ranking-up{
    bottom: 6%;
    left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-up img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
  
.hover{
    opacity: 1;
    transition: opacity 1s;
}

@keyframes shopMoveShow {
    from{left: -90%;}
    to{left: 0%;}
}

@keyframes shopMoveClose {
    from{left: 0%;}
    to{left: -90%;}
}

@keyframes shopOpacity {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes shopOpacityReverse {
    from{opacity: 1;}
    to{opacity: 0;}
}

.shop{
    position: absolute;
    height: 100%;
    width: 100%;   
    background: rgba(0, 0, 0, 0.7);
    border: 5px #FF4500 solid;
    z-index: 5;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    animation: shopMoveShow 2s ease-in-out;
}

.shop-cima{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.shop-baixo{
    height: 25%;
    width: 100%;
    display: flex;
}

.sClose{
    animation: shopMoveClose 2s ease-in-out;
}

.slider-container, .categorias, .informacoes{
    animation: shopOpacity 2.5s ease-in-out;
}

.cClose{
    animation: shopOpacityReverse 2.5s ease-in-out;
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slider{
    height: 350px;
    width: 650px;
}

.slider img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    border: 1px #FF4500 solid;
}

.categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.categorias button{
    width: 350px;
    color: white;
    border: 1px #FF4500 solid;
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categorias button:hover {
    transform: translateY(-5px);
}

#card{
    background-image: url(../midias/imgs/card-game-bkg.png);
    background-size: cover;
    color: #ff6347;
}

#background{
    background-image: url(../midias/backgroundTela/Deserto\ Rochoso.png);
    background-size: cover;
    color: blue;
}

#titulo{
    background-image: url(../midias/imgs/titulo-bkg.jpg);
    background-size: cover;
    color: #ffd700;
}

#perfil{
    background-image: url(../midias/backgroundPerfil/sheilong.gif);
    background-size: cover;
    color: #32cd32;
}

.informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    height: 60px;
    width: 300px;
    display: flex;
}

.dinheiro {
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 5px;
    background-color: #32cd32;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dinheiro img {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.dinheiro p {
    color: white;
    -webkit-text-stroke: 0.5px green;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.voltar{
    margin-top: 20px;
}

.voltar button {
    height: 60px;
    width: 350px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px #cc5200;
}

.voltar button:hover {
    background-color: #ff4500;
    transform: translateY(-5px);
    box-shadow: 0 6px #b33c00;
}

@keyframes rankingShowMove {
    from{left: -100%;}
    to{left: 0%;}
}

@keyframes rankingCloseMove {
    from{left: 0%;}
    to{left: -100%;}
}

.ranking{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 5px #FF4500 solid;
    z-index: 5;
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    animation: rankingShowMove 2s ease-in-out;
}

.informacoes-ranking, .tabela{
    animation: shopOpacity 2.5s ease-in-out;
}

.informacoes-ranking .usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacoes-ranking .foto-perfil{
    height: 200px;
    width: 200px;
    border: 5px black solid;
    margin-bottom: 50px;
}

.informacoes-ranking .bkg-perfil{
    height: 70px;
    width: 410px;
    position: absolute;
    top: 30%;
}

.info{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    background-color: #353b51;
    border: 1px black solid;
}

.rClose{
    animation: rankingCloseMove 2s ease-in-out; 
}

.posicao{
    height: 60px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    background-color: #fbc531;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #e1b12c;
}

.posicao h1{
    color: white;
}

.tabela{
    height: 85%;
    width: 600px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 5px black solid;
    margin-left: 100px;
    overflow-y: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px rgb(98,35,11) solid;
    text-align: center;
}

thead{
    background-color: #ff6347;
    height: 30px;
}

td{
    color: white;
    height: 40px;
    background-color: rgba(137,118,137,255);
}

.posicao-tabela{
    background-color: rgba(110,96,111,255);
}

.shop-card, .shop-titulos, .shop-backgrounds, .shop-perfil{
    display: none;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 15px;
    animation: shopOpacity 1.5s ease-in-out;
}

.informacoes-card, .informacoes-background, .informacoes-titulos, .informacoes-perfil{
    height: 200px;
    width: 100%;
    margin-top: -3px;
    display: flex;
    align-items: center;
}

.produtos{
    display: flex;
    width: 100%;
    justify-content: center;
}

@keyframes balanceMove{
    0%{transform: rotateZ(-2deg);}
    50%{transform: rotateZ(2deg);}
    100%{transform: rotateZ(-2deg);}
}

.card, .titulo-container, .backgrounds-prods, .gif-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #353b51;
    border: 2px #ff6347 solid;
    border-radius: 10px;
    width: 200px;
    margin: 10px 50px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.3);
    transition: 0.4s transform ease-in, 0.4s width ease-out;
    animation: balanceMove 2s infinite ease-in-out;
}

.card:hover{
    animation: none;
    width: 300px;
    transform: translateY(-20px);
    background-color: #25293a;
}

.titulo-card{
    display: flex;
    margin-bottom: 10px;
}

.titulo-card h2{
    color: white;
}

.n{
    background-color: #d35400;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.custo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 16px;
    margin-top: 5px;
}

.custo img{
    height: 30px;
}

.custo p {
    color: white;
}

.comprar{
    margin-top: 20px;
}

.comprar button {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  
.comprar button:hover {
    background-color: #218838; 
}

.shop-backgrounds .produtos, .shop-perfil .produtos{
    height: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos-bk, .produtos-pf{
    flex-wrap: wrap;
}

.backgrounds-prods, .gif-perfil{
    flex-direction: row;
    height: 120px;
    width: 215px;
    margin: 0px 30px;
    padding: 0px;
}

.backgrounds-prods:hover, .titulo-container:hover, .gif-perfil:hover{
    animation: none;
    background-color: #25293a;
    transform: translateY(-20px);
}

.background-prod-container{
    height: 90px;
    width: 100%;
}

.background-prod-container img{
    height: inherit;
    width: inherit;
    background-size: cover;
}

.background-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.background-aside .titulo-card{
    margin-bottom: -10px;
    font-size: 7px;
}

.background-aside .comprar{
    margin-top: 0px;
}

.background-aside .comprar button{
    font-size: 5px;
}

.coluna1, .coluna2, .coluna3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.shop-titulos .produtos{
    overflow: auto;
    flex-direction: column;
    height: 75%;
}

.shop-titulos .coluna1{
    margin-top: 170px;
}

.titulo-container{
    width: 150px;
    margin: 5px 20px;
}

.tc{
    background: linear-gradient(to right, #ffd700, #ffac33, #ffdd66);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 
                 0px 0px 10px rgba(255, 223, 0, 0.7),
                 0px 0px 20px rgba(255, 223, 0, 0.5);
}

.titulo-container .comprar{
    padding: 0px;
    margin-top: 0px;
}

.titulo-container .comprar button{
    font-size: 5px;
}

.gif-perfil{
    margin: 0px 20px;
}

.gif-perfil img{
    height: 100px;
    width: 150px;
}

.gif-perfil .background-aside img{
    height: 30px;
    width: 30px;
}

.shop-card .produtos{
    margin-top: 20px;
}


.aviso, .bom{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px white solid;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
}

.error, .certo{
    height: 50px;
    width: 100vw;
    color: white;
    background-color: #e63636;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    animation: errorAnimation 1s ease-in-out;
    cursor: pointer;
}

.certo{
    background-color: #4cd137;
}


@keyframes errorAnimation{
    from{margin-top: -100px;}
    to{margin-top: 0px;}
}

.error-reverse{
    animation: errorAnimationReverse 1s ease-in-out;
}

@keyframes errorAnimationReverse{
    from{margin-top: 0px;}
    to{margin-top: -100px;}
}


@media (min-height: 700px){
    
    .pop-ups{
        display: none;
    }

    .shop-card .produtos{
        margin-top: 100px;
    }

}

@media (max-width: 1250px){

    .intrucoes-up, .shop-up, .ranking-up{
        left: 36%;
    }

}

@media (min-width: 550px) and (max-width: 900px){

    .intrucoes-up, .shop-up, .ranking-up{
        left: 28%;
    }

}

@media (max-width: 500px){

    .intrucoes-up, .shop-up, .ranking-up{
        left: 15%;
    }

}

@media (max-width: 400px){

    .direitos, .logout, .pop-ups, .slider-container, .informacoes-ranking .usuario, .info{
        display: none;
    }

    .shop{
        margin-bottom: -60px;
    }

    .ranking{
        margin-bottom: -69px;
    }

    .perfil{
        margin-bottom: 10px;
    }

    .categorias{
        padding: 0;
    }

    .categorias, .shop-cima, .dinheiro, .gif-perfil{
        margin: 0;
    }

    .ranking{
        flex-direction: column-reverse;
    }

    .shop-baixo, .informacoes, .produtos, .informacoes-card, .informacoes-background,.informacoes-titulos, .informacoes-perfil{
        flex-direction: column;
    }

    .img-card{
        display: none;
    }

    .card{
        margin-bottom: 3px;
        padding: 0;
    }

    .produtos{
        margin-top: -30px;
    }

    .informacoes-card, .informacoes-background, .informacoes-titulos, .informacoes-perfil{
        margin-top: 13px;
        margin-left: -30px;
    }

    .informacoes-card .perfil, .informacoes-background .perfil , .informacoes-titulos .perfil, .informacoes-perfil .perfil{
        display: none;
    }

    .backgrounds-prods{
        margin: 0px 15px;
    }

     .produtos-bk .coluna1, .produtos-bk .coluna2{
        margin-top: 10px;
        margin-left: -75px;
    }

    .shop-titulos .produtos{
        margin-left: -35px;
    }

    .shop-titulos .coluna1, .shop-titulos .coluna2, .shop-titulos .coluna3{
        margin-left: 80px;
    }

    .titulo-container{
        margin: 0px 5px;
    }

    .produtos-pf{
        overflow: auto;
    }

    .produtos-pf .coluna1, .produtos-pf .coluna2{
        flex-wrap: wrap;
    }

    .informacoes-ranking .posicao{
        margin: 5px 0px;
    }

    .tabela{
        height: 70%;
        width: 95%;
        margin-right: 105px;
    }

}
