* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(98,35,11);
    text-decoration: none;
}

body{
    background-image: url(../midias/imgs/background-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.versao{
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.config button{
    width: 50px;
    height: 50px;
}

.config img{
    width: 40px;
    height: 30px;
    padding: 1px;
}

.config{
    position: absolute;
    top: 5%;
    right: 5%;
}

@font-face{
    font-family: 'Blank River';
    src: url(../fonte/Blank\ River.ttf);
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Blank River';
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 10%;
    pointer-events: none;
}

.logo .db{
    background: -webkit-linear-gradient(rgba(12,0,0,255),rgba(33,3,5,255),rgba(75,12,7,255),rgba(106,17,11,255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo .ap{
    position: absolute;
    top: 45%;
    background: -webkit-linear-gradient(rgba(33,6,2,255),rgba(78,11,12,255),rgba(185,28,33,255),rgba(186,30,34,255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}

.logo img{
    position: absolute;
    height: 150px;
    top: 25%;
    left: 57%;
    filter: grayscale(45%);
    z-index: 4;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 25px;   
}

.buttons button{
    width: 300px;
    height: 50px;
}

button {
    background-color: rgb(238,106,13);
    border: 5px  rgb(167, 72, 4) solid;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(180, 78, 4);
}

button img{
    width: 40px;
    margin-right: 10px;
}

.logout{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.logout button{
    width: 50px;
    height: 50px;
}

.logout img{
    width: 30px;
    height: 40px;
    padding: 2px;
}

.direitos{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    right: 5%;
}

.direitos button{
    width: 50px;
    height: 50px;
}

@font-face{
    font-family: 'Comic Sans';
    src: url(../fonte/ComicSansMS3.ttf);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pop-up{
    position: absolute;
    width: 320px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans';
    font-size: 20px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px gray;
    opacity: 0.4;
    animation: pulse 1.5s infinite ease-in-out;
    cursor: pointer;
}

.shop-up{
    top: 80%;
    left: 38%;
}

.img{
    position: absolute;
    z-index: 2;
    height: 70px;
    width: 70px;
}

.img-shop{
    top: 74%;
    left: 35%;
}

.img img{
    width: 65px;
    height: 65px;
    opacity: 0.7;
    animation: pulse 1.5s infinite ease-in-out;
}
  
.hover{
    opacity: 1;
    transition: opacity 1s;
}

@keyframes shopMoveShow {
    from{left: -90%;}
    to{left: 0%;}
}

@keyframes shopMoveClose {
    from{left: 0%;}
    to{left: -90%;}
}

@keyframes shopOpacity {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes shopOpacityReverse {
    from{opacity: 1;}
    to{opacity: 0;}
}

.shop{
    position: absolute;
    height: 90vh;
    width: 95vw;   
    background: rgba(0, 0, 0, 0.7);
    border: 5px #FF4500 solid;
    z-index: 5;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    grid-template-areas: "m  a"
                         "s  s";
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 7fr 3fr;
    gap: 10px;
    animation: shopMoveShow 2s ease-in-out;
}

.sClose{
    animation: shopMoveClose 2s ease-in-out;
}

.slider-container, .categorias, .informacoes{
    background: rgba(129, 85, 18, 0.2);
    animation: shopOpacity 2.5s ease-in-out;
}

.cClose{
    animation: shopOpacityReverse 2.5s ease-in-out;
}

.slider-container{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.slider{
    height: 350px;
    width: 650px;
}

.slider img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    border: 1px #FF4500 solid;
}

.categorias{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categorias button{
    width: 350px;
    color: white;
    border: 1px #FF4500 solid;
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categorias button:hover {
    transform: translateY(-5px);
}

#card{
    background-image: url(../midias/imgs/card-game-bkg.png);
    background-size: cover;
    color: #ff6347;
}

#background{
    background-image: url(../midias/imgs/Rocky-Field_thumb.detail.png);
    background-size: cover;
    color: blue;
}

#titulo{
    background-image: url(../midias/imgs/titulo-bkg.jpg);
    background-size: cover;
    color: #ffd700;
}

#perfil{
    background-image: url(../midias/backgroundPerfil/sheilong.gif);
    background-size: cover;
    color: #32cd32;
}

.informacoes{
    grid-area: s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    height: 60px;
    width: 300px;
    background-color: aqua;
}

.dinheiro {
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 5px;
    background-color: #32cd32;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dinheiro img {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.dinheiro p {
    color: white;
    -webkit-text-stroke: 0.5px green;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.voltar{
    margin-top: 20px;
}

.voltar button {
    height: 60px;
    width: 350px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px #cc5200;
}

.voltar button:hover {
    background-color: #ff4500;
    transform: translateY(-5px);
    box-shadow: 0 6px #b33c00;
}