.item {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 17px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 80px;
    height: 80px;
}

.gelo6, .gelo7{
    width: 100px;
    height: 100px;
    top: 55%;
}

.item1, .gelo6 {
    right: 15%;
}

.item2, .gelo7 {
    right: 3%;
}

.itemEfect{
    position: absolute;
    height: 170px;
    width: 130px;  
    z-index: 5;
    top: 15%;
    display: none;
    pointer-events: none;
}

.i{
    position: absolute;
    display: flex;
    z-index: 5;
    pointer-events: none;
    width: 30px;
    height: 30px;
    top: 0%; 
    left: 0%; 
}

.i img{
    height: 30px;
    opacity: 0.7;
    animation: itemAnimate 3s infinite ease-in-out;
}

@keyframes itemAnimate{
    0%, 100%{
        transform: rotate(0);
    }
    40%{
        transform: rotate(30deg);
    }
    70%{
        transform: rotate(-30deg);
    }
}