.menu{
    height: 100vh;
    width: 105px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px #FF4500 solid;
    display: none;
    border-right: none;
    position: fixed;
    z-index: 6;
    right: 0%;
    animation: menuShowMove 2s ease-in-out;
}

ul p{
    color: #FF4500;
}

.overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 5;
}

.cConfig{
    animation: configCloseMove 1.3s ease-in-out;
}

.sConfig{
    animation: configShowMove 2s ease-in-out;
}

@keyframes configShowMove {
    from{right: -25%;}
    to{right: 5%;}
}

@keyframes configCloseMove {
    0%{
        right: 5%;
    }
    50%{
        right: 10%;
    }
    100%{
        right: -25%;
    }
}

.mClose{
    animation: menuCloseMove 2s ease-in-out;
}

@keyframes menuCloseMove {
    from{right: 0%;}
    to{right: -10%;}
}

@keyframes menuShowMove {
    from{right: -10%;}
    to{right: 0%;}
}

li{
    width: 100%;
    list-style: none;
    font-weight: bold;
    text-align: center;
    padding: 25px 0px;
    cursor: pointer;
}

li:hover {
    background-color: rgb(180, 78, 4);
    transform: translateY(-5px);
    box-shadow: 0 6px #b33c00;
}

li img{
    height: 40px;
}

.selecionado{
    background-color: rgb(180, 78, 4);
    transform: translateY(-5px);
    box-shadow: 0 6px #b33c00;
}

#close-menu{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px;
}

#close-menu img{
    height: 50px;
}

.config-menu{
    height: 500px;
    width: 900px;
    position: absolute;
    display: none;
    z-index: 6;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI';
}

.opcoes{
    height: 100%;
    width: 300px;
    background-color: rgb(238,106,13);
    font-size: 2rem;
}

.opcoes li{
    margin: 20px 0px;
}

.config-opcoes{
    height: 100%;
    width: 600px;
    background-color: #ffbe76;
    display: flex;
    justify-content: center;
    align-items: center;
}

.config-opcoes h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.config-opcoes h2{
    margin: 10px 0px;
}

.config-opcoes img{
    height: 40px;
    margin: 15px 15px;
}

.tela-cheia, .audio, .musica{
    display: flex;
    margin: 50px 0px;
}

.toggle-container{
    margin-left: 30px;
    margin-top: 40px;
}

.toggle{
    background-color: rgb(98,35,11);
    width: 50px;
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

.toggle::before{
    position: absolute;
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}

input:checked + .toggle{
    background-color: #FF4500;
}

input:checked + .toggle::before{
    transform: translateX(20px);
}

input[type="checkbox"] {
    display: none; 
}

.toggle-audio{
    margin-left: 60px;
}

.toggle-musica{
    margin-left: 45px;
}

.config-menu .opcoes li{
    display: flex;
    padding-left: 30px;
}

.opcoes li p{
    color: rgb(98,35,11);
}

@keyframes opcoesMoveShow{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.game-opcoes, .historico-opcoes ,.perfil-opcoes{
    display: none;
    animation: opcoesMoveShow 1s ease-in-out;
}

.excluir-conta, .mudar-senha{
    display: flex;
    margin: 50px 0px;
}

.excluir-conta a, .mudar-senha a{
    color: blue;
    text-decoration: underline;
}

.batalhas{
    height: 300px;
    overflow-y: auto;
}

.batalha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(137,118,137,255);
    overflow-y: auto;
    border: 5px black solid;
    margin: 20px 0px;
}

.batalha h2{
    width: 100%;
    background-color: rgba(110,96,111,255);
    text-align: center;
    color: white;
}

.jogadores{
    display: flex;
}

.jogadores img{
    height: 20px;
}

.opcoes-cima{
    display: flex;    
}

@media (max-width: 400px){
 
    .menu{
        margin-top: 75px;
    }
    
    @keyframes menuCloseMove {
        from{right: 0%;}
        to{right: -30%;}
    }
    
    @keyframes menuShowMove {
        from{right: -30%;}
        to{right: 0%;}
    }

    .config-menu{
        height: 100%;
        width: 100%;
        margin-top: 55px;
    }
    
    .opcoes{
        width: 100%;
    }

    .config-menu .opcoes li img{
        width: 30px;
        height: 30px;
    }

    #checkHistori, #rederecionar-historico{
        display: none;
    }   

    .config-menu .opcoes li p{
        display: none;
    }

    .tela-cheia, .audio, .musica{
        flex-direction: column;
    }
    
}