* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(98,35,11);
    text-decoration: none;
    user-select: none;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    background: url(../midias/imgs/fundo-e-texturizado-de-parede-cimento-cinza-cor-gratis-foto.jpg) ;
    border-bottom: 10px rgba(73,78,57,255) solid;
    position: relative;
}

.background {
    height: 200px;
    width: 100%;
    background: url(../midias/backgroundTela/background-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    border-bottom: 10px rgba(73,78,57,255) solid;
}

.variaveis{
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    width: 55%;
    height: 50px;
    justify-content: space-evenly;
}

.variavel{
    height: 30px;
    width: 60px;
    background-color: white;
    border: 1px black solid;
    border-left: none;
    border-radius: 5px; 
    color: black;
    font-size: 1.5rem;
}

i{
    position: absolute;
    top: -15%;
    font-size: 2rem;
}

#vidaI{
    left: 160px;
}

#turnoI{
    left: 290px;
}

#vitoriasI{
    left: 410px;
}

.moeda img{
    height: 2rem;
    position: absolute;
    left: 50px;
}

#moeda, #vida , #turno, #vitorias{
    margin-left: 20px;
}

.nome-time{
    width: 100px;
    border-left: 1px black solid;
    overflow: hidden;
    padding-left: 10px;
}

.buttons-cima{
    position: absolute;
    display: flex;
    top: 0%;
    right: 0%;
}

.buttons-cima button{
    width: 50px;
    height: 50px;
}

.buttons-cima img{
    width: 40px;
    height: 30px;
    padding: 1px;
}

.time, .escolhas {
    height: 150px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 31%;
    transform: rotateX(45deg);
}

.ceramicas {
    height: 130px;
    width: 95%;
    background-color: rgb(169,171,146);
    border: 1px  rgb(68,73,51) solid;
    border-bottom: 10px rgb(68,73,51) solid;
    border-top: 10px  rgb(68,73,51) solid;
}

.personagens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.escolhas{
    top: 55%;
}

.placa{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 80px;
    background:linear-gradient(rgba(247,167,67,255) 60%, rgb(163, 93, 5));
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.poste{
    position: absolute;
    z-index: 1;
    height: 120px;
    width: 13px;
    background: linear-gradient( rgba(128,67,7,255),rgb(73, 25, 7));
}

.poste-batalha{
    position: absolute;
    top: 30%;
    right: 20%;
}

.poste-loja{
    position: absolute;
    top: 55%;
    left: 10%;
}

.placa-batalha{
    position: absolute;
    top: 30%;
    margin-left: 820px;
    transform: rotateZ(-5deg);
}

.placa-loja{
    position: absolute;
    top: 55%;
    margin-right: 1070px;
    transform: rotateZ(5deg);
}

.sombra{
    position: absolute;
    height: 20px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.sombra-batalha{
    top: 47%;
    right: 19%;
}

.sombra-loja{
    top: 73%;
    left: 9.5%;
}

.buttons-baixo{
    position: absolute;
    bottom: 1%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons-baixo button{
    width: 300px;
    height: 80px;
}

button {
    background-color: rgb(238,106,13);
    border: 5px   rgb(167, 72, 4) solid;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 10px;
}

#parece-atualizar{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0%;
    cursor: pointer;
}

#atualizar{
    cursor: pointer;
}

#atualizar img, #parece-atualizar img{
    width: 50px;
}

#atualizar span, #parece-atualizar span{
    margin-bottom: 50px;
}

#finalizar{
    cursor: pointer;
    width: 350px;
}

#finalizar img{
    width: 30px;
}

#finalizar{
    margin-right: 0;
}

#congelar, #vender , #descongelar {
    position: absolute;
    right: 27%;
    display: none;
}

#congelar img{
    width: 45px;
    margin-left: 5px;
}

#descongelar button{
    width: 170px;
}

#descongelar img{
    width: 40px;
    margin-left: 5px;
}

.gelo{
    position: absolute;
    height: 160px;
    width: 130px;
    background-color: rgba(54, 114, 192, 0.4);
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    border: 30px solid transparent;
    border-image: url("../midias/icons/borda-gelo.png") 70 round;
    top: 45%;
}

.card1, .gelo1{
    left: 15%;
}

.card2, .slot2, .gelo2{
    left: 27%;
}

.card3, .slot3, .gelo3{
    left: 39%;
}

.card4, .slot4, .gelo4{
    left: 51%;
}

.card5, .slot5, .gelo5{
    left: 63%;
}

.card5 .var-per{
    left: -10px;
}

.slots{
    top: 15%;
}


#CardNormal, #CardOriental, #CardDourado, #Cardfuturista{
    display: none;
}

.roletar{
    animation: roletar 1.5s ease-in-out;
}

@keyframes roletar {
    0%{display: block;}
    50%{display: none;}
    100%{display: block;}
}


#categoriaBtn, #menu{
    cursor: pointer;
}

.categoria-personagens{
    position: absolute;
    z-index: 7;
    height: 95vh;
    width: 90%;   
    background: #a67759;
    border: 5px black solid;
    z-index: 5;
    margin-top: 50px;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: categoriaAparecer 2s ease-in-out;
}

@keyframes categoriaAparecer{
    from{margin-bottom: -1000px;}
    to{margin-top: 50px;}
}

.cSumir{
    animation: categoriaDesaparecer 2s ease-in-out;
}

@keyframes categoriaDesaparecer{
    from{margin-top: 50px;}
    to{margin-bottom: -1000px;}
}

.personagens-turno, .itens-raridade{
    height: 80%;
    width: 90%;
}

.personagem-turno, .item-raridade{
    background-color: #dfa26e;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.itens-raridade{
    display: none;
}

.personagem-turno img , .item-raridade img{
    height: 100px;
    margin-top: 50px;
    margin-left: 5px;
}

.item-raridade img{
    height: 70px;
}

#ses{
    margin-left: 20px;
}

#diferente-img1{
    height: 70px;
    margin-top: 60px;
    margin-left: 15px;
}

 #diferente-img2{
    height: 90px;
    margin-left: 15px;
}

.turno-titulo{
    margin-top: 50px;
    margin-left: 20px;
}

.turno-titulo h1{
    color: #a57656;
    margin-right: 5px;
}

.turno-titulo img{
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
}

.agrupar{
    display: flex;
}

.agrupar .ag1{
    margin-left: 10px;
    margin-right: 10px;
}

.agrupar .ag2{
    margin-left: 0px;
}

.categoria-personagens .voltar{
    position: fixed;
    right: 5%;
    bottom: 2%;
}

.voltar button {
    height: 60px;
    width: 350px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px #cc5200;
}

.voltar img{
    height: 40px;
}

.voltar button:hover {
    background-color: #ff4500;
    transform: translateY(-5px);
    box-shadow: 0 6px #b33c00;
}

@font-face{
    font-family: 'Comic Sans';
    src: url(../fonte/ComicSansMS3.ttf);
}

.frasePerson, .fraseItem{
    position: absolute;
    z-index: 2;
    display: none;
    height: 50px;
    width: 300px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans';
    border: 1px black solid;
    box-shadow: 2px 2px 2px gray;
    color: black;
}

#hf{
    margin-bottom: 30px;
}


#ac{
    height: 100px;
    transform: rotateZ(20deg);
    z-index: 0;
}

#ca{
    height: 100px;
    transform: rotateY(160deg);
    z-index: 0;
}

.opcoes-categoria{
    position: fixed;
    display: flex;
    left: 6%;
    bottom: 2%;
}

.pImg, .iImg{
    cursor: pointer;
}

.pC button{
    background-color: #ffc444;
    height: 60px;
    width: 350px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px #b68722;
}

.pC button:hover{
    background-color: #b68722;
    transform: translateY(-5px);
    box-shadow: 0 6px #836015;
}

#raro , #lenda{
    margin-top: 10px;
    margin-left: 70px;
}


