<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - cadastro</title>
    <link rel="shortcut icon" href="../../public/assets/midias/ico/dg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/assets/css/conta.css">
    <script src="../../public/assets/js/forms/senha.js"></script>
    <script src="../../public/assets/js/forms/validacao.js"></script>
    <script src="../../public/assets/js/response.js"></script>
</head>
<body>
    
    <div class="container">
        
        <div class="form-container form-cadastro">

            <h1>Cadastra-se</h1>

            <form id="form" enctype="multipart/form-data" action="../models/cadastro.php" method="post">

                <div class="email">   

                    <input type="email" name="email" placeholder="Digite seu email" class="email-required">

                    <span class="email-span-required">Digite um email válido</span>

                </div>

                <div class="nick">

                    <input type="text" name="nick" placeholder="Digite seu nick" class="nick-required">

                    <span class="nick-span-required">O nick deve conter no mínimo 3 caracteres</span>

                </div>

                <div class="senha">

                    <input type="password" name="senha" placeholder="Digite sua senha" class="senha-required">

                    <span class="senha-span-required">A senha de conter no mínimo 8 caracteres</span>

                    <div class="ocultar-senha">

                        <img src="../../public/assets/midias/icons/mostrarSenha.png">

                    </div>

                </div>
                
                <label for="foto">
                        
                    <div class="foto-perfil">

                        <img src="../../public/assets/midias/icons/adicionar-imagem.png" class="foto-img">

                        <input type="file" name="foto" accept="image/*" class="foto-required">

                        <p class="nome-arquivo"></p>

                    </div>

                    <span class="foto-span-required">Nenhum arquivo selecionado ou inválido</span>

                </label>
                
                <button type="submit">Cadastra-se</button>

            </form>

            <div class="links">

                <a href="login.html">Já possuo conta</a>

            </div>

        </div>

    </div>

</body>
</html>