<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - cadastro</title>
    <link rel="shortcut icon" href="../../public/assets/midias/ico/dg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/assets/css/conta.css">
</head>
<body>
    
    <div class="container">

        
        <div class="form-container form-cadastro">

            <h1>Cadastra-se</h1>

            <form action="" method="post">

                <div class="email">
                        
                    <label for="email">INSIRA SEU EMAIL</label>

                    <input type="email" name="" id="email" placeholder="insira seu email">

                </div>

                <div class="nick">

                    <label for="nick">INSIRA SEU NICK</label>

                    <input type="text" name="" id="nick" placeholder="insira seu nick">

                </div>

                <div class="senha">
                        
                    <label for="senha">DIGITE SUA SENHA</label>

                    <input type="password" name="" id="senha" placeholder="digite sua senha...">

                </div>

                <label for="foto">

                    <label for="foto"  id="foto-label">INSIRA SUA FOTO</label>
                        
                    <div class="foto-perfil">

                        <img src="../../public/assets/midias/icons/adicionar-imagem.png">

                        <input type="file" name="" id="foto" accept="image/*">

                    </div>

                </label>

                <button type="submit">Cadastra-se</button>

            </form>

            <div class="links">

                <a href="login.html">Já possuo conta</a>

            </div>

        </div>

    </div>

</body>
</html>