<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - Excluir conta</title>
    <link rel="shortcut icon" href="../../public/assets/midias/ico/dg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/assets/css/conta.css">
</head>
<body>
    
    <div class="container">

        <div class="form-container form-excluir">

            <h1>Excluir conta</h1>

            
            <form action="" method="post">

                <div class="email">
                        
                    <label for="email">Encontrar conta com email</label>

                    <input type="email" name="" id="email" placeholder="digite seu email...">

                </div>

                <div class="senha">
                        
                    <label for="senha">DIGITE SUA SENHA</label>

                    <input type="password" name="" id="senha" placeholder="digite sua senha...">

                </div>

                <button type="submit">Excluir conta</button>

            </form>

            <div class="excluir">

                <div class="certeza">

                    <label for="excluir">Você perderá todo progresso conquistado, tem certeza da exclusão?</label>
                    
                    <input type="checkbox" name="" id="excluir">

                </div>

            </div>

        </div>

    </div>

</body>
</html>