<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - Preparar time</title>
    <link rel="stylesheet" href="../../public/assets/css/preparar-time-style.css">
    <link rel="stylesheet" href="../../public/assets/css/animacao-load.css">
</head>
<body>

    <div class="container">
        
        <div class="background"></div>

        <div class="variaveis">

            <div class="variavel moeda"><img src="../../public/assets/midias/icons/moeda.png"></div>

            <div class="variavel vida"> <i id="vida">❤️</i></div>
    
            <div class="variavel turno"> <i id="turno">⌛</i></div>
    
            <div class="variavel vitorias"> <i id="vitorias">🏆</i></div>

            <div class="variavel nome-time"></div>

        </div>

        <div class="time">

            <div class="ceramicas"></div>

            <div class="ceramicas slots slot1"></div>

            <div class="ceramicas slots slot2"></div>

            <div class="ceramicas slots slot3"></div>

            <div class="ceramicas slots slot4"></div>

            <div class="ceramicas slots slot5"></div>

            <div class="ceramicas slots slot5"></div>

            <div class="ceramicas"></div>

            <div class="ceramicas"></div>

        </div>

        <div class="escolhas">
            
            <div class="personagens">

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

                <div class="ceramicas"></div>

            </div>

            <div class="itens">
            </div>

        </div>

        <div class="placa placa-batalha">Batalha</div>

        <div class="poste poste-batalha"></div>

        <div class="sombra sombra-batalha"></div>

        <div class="placa placa-loja">Loja</div>

        <div class="poste poste-loja"></div>

        <div class="sombra sombra-loja"></div>
        
        <div class="buttons-baixo">
            
            <form action="../controllers/jogarController.php" method="post">

                <button name="girar" id="atualizar"><img src="../../public/assets/midias/icons/icons8-dado-60.png">

                    <span>Atualizar</span>

                </button>

            </form>

            <form action="../controllers/jogarController.php" method="post">

                <button name="finalizarTurno" value="1" id="finalizar">Finalizar turno<img src="../../public/assets/midias/icons/espadas.png"></button>

            </form>

        </div>

        <div class="buttons-cima">

            <button><img src="../../public/assets/midias/icons/icons8-estrela-48.png"></button>

            <button id="config"><img src="../../public/assets/midias/icons/icons8-linhas-50.png"></button>

        </div>

        <div class="card card1" draggable="true">

            <div class="header">
                
                <div class="lado-esquerdo">
                    
                    <img src="../../public/assets/midias/imgs/ico.jpg">
                
                </div>

                <div class="laterais"></div>

                <div class="centro">

                    <div class="barra barra-lado-esq"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra"></div>

                    <div class="barra barra-lado-dir"></div>

                </div>
                
                <div class="lado-direito">
                    
                    <img src="../../public/assets/midias/imgs/simbolo-go-goku-dragon-ball-pegatina-negativo.png">
                
                </div>

            </div>

            <div class="desc">

                <div class="nome">
                    <p>Vegeta (Super Saiyajin Deus Super Saiyajin Evolução)</p>
                </div>

                <div class="var-per">

                    <img src="../../public/assets/midias/icons/icons8-filled-heart-48 (1).png">

                    <p>100</p>

                    <img src="../../public/assets/midias/icons/icons8-espada-48.png">

                    <p>100</p>

                </div>

            </div>

        </div>

    </div>

    <script src="../../public/assets/js/jogar.js"></script>

</body>
</html>
