<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - login</title>
    <link rel="shortcut icon" href="../../public/assets/midias/ico/dg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/assets/css/conta.css">
</head>
<body>
    
    <div class="container">

        <div class="form-container">

            <h1>Iniciar sessão</h1>

            <form action="" method="post">

                <div class="email">
                        
                    <label for="email">INICIAR SESSÃO COM EMAIL OU NICK</label>

                    <input type="email" name="" id="email" placeholder="email ou nick...">

                </div>

                <div class="senha">
                        
                    <label for="senha">DIGITE SUA SENHA</label>

                    <input type="password" name="" id="senha" placeholder="digite sua senha...">

                </div>

                <button type="submit">Iniciar sessão</button>

            </form>

            <div class="links">

                <a href="cadastro.html">Não possuo conta</a>

                ou

                <a href="mudarSenha.html">Esqueci minha senha</a>

            </div>

        </div>

    </div>

</body>
</html>