<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonPet - Mudar senha</title>
    <link rel="shortcut icon" href="../../public/assets/midias/ico/dg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/assets/css/conta.css">
</head>
<body>

    <div class="container">

        <div class="form-container">

            <h1>Alterar minha senha</h1>

            <form action="">

                <div class="email">

                    <label for="email">INSIRA O SEU ENDEREÇO DE EMAIL</label>

                    <p>Recupere sua conta com o endereço email</p>

                    <input type="email" name="" id="email" placeholder="digite seu email...">

                </div>

                <button type="submit">Buscar</button>

            </form>

            <div class="links">

                <a href="login.html">Lembrei minha senha</a>

            </div>

        </div>

    </div>

</body>
</html>